In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the Csv you created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2021-12-20 21:18:16,-38.0023,-57.5575,72.09,84,75,5.01
1,1,Biak,ID,2021-12-20 21:18:16,-0.9131,122.8766,76.78,80,100,3.89
2,2,Punta Arenas,CL,2021-12-20 21:18:17,-53.1500,-70.9167,55.51,54,75,29.93
3,3,Jamestown,US,2021-12-20 21:17:16,42.0970,-79.2353,39.02,55,1,5.01
4,4,Avarua,CK,2021-12-20 21:18:17,-21.2078,-159.7750,82.45,69,20,10.36

In [4]:
# Get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Biak,ID,2021-12-20 21:18:16,-0.9131,122.8766,76.78,80,100,3.89
4,4,Avarua,CK,2021-12-20 21:18:17,-21.2078,-159.7750,82.45,69,20,10.36
5,5,Honiara,SB,2021-12-20 21:18:18,-9.4333,159.9500,81.90,81,95,1.48
7,7,Cabo San Lucas,MX,2021-12-20 21:15:04,22.8909,-109.9124,79.52,50,75,3.00
9,9,Vaini,TO,2021-12-20 21:18:19,-21.2000,-175.2000,82.56,89,75,11.50
12,12,Castro,BR,2021-12-20 21:16:21,-24.7911,-50.0119,76.19,49,2,2.62
13,13,Saint-Pierre,RE,2021-12-20 21:18:20,-21.3393,55.4781,77.58,81,90,5.75
14,14,Georgetown,MY,2021-12-20 21:14:46,5.4112,100.3354,79.90,87,20,2.30
17,17,Karratha,AU,2021-12-20 21:18:22,-20.7377,116.8463,85.14,56,22,7.61
20,20,Rikitea,PF,2021-12-20 21:18:23,-23.1203,-134.9692,76.10,78,100,18.75

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
# Create DataFrame called hotel_df to share hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1             Biak      ID     76.78  -0.9131  122.8766
4           Avarua      CK     82.45 -21.2078 -159.7750
5          Honiara      SB     81.90  -9.4333  159.9500
7   Cabo San Lucas      MX     79.52  22.8909 -109.9124
9            Vaini      TO     82.56 -21.2000 -175.2000
12          Castro      BR     76.19 -24.7911  -50.0119
13    Saint-Pierre      RE     77.58 -21.3393   55.4781
14      Georgetown      MY     79.90   5.4112  100.3354
17        Karratha      AU     85.14 -20.7377  116.8463
20         Rikitea      PF     76.10 -23.1203 -134.9692

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get the lstitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictioary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found......skipping.")

Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.

In [44]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Biak,ID,76.78,-0.9131,122.8766,Penginapan Kim
4,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
5,Honiara,SB,81.90,-9.4333,159.9500,Heritage Park Hotel
7,Cabo San Lucas,MX,79.52,22.8909,-109.9124,Hotel Tesoro Los Cabos
9,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...
557,Salalah,OM,75.29,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
559,Madimba,TZ,77.68,-10.4000,40.3333,
566,Tadine,NC,80.02,-21.5500,167.8833,
570,Kavieng,PG,81.46,-2.5744,150.7967,Nusa Island Retreat
575,San Policarpo,PH,79.59,12.1791,125.5072,Agapita M. Nicart

In [52]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [55]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))